[
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-834"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-392"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-653"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-222"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-289"},
  {"vendor":"Kingston","model":"EMMC64G-M627-368"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-818"},
  {"vendor":"SK Hynix","model":"H9HKNNN8JDMA-977"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-221"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-406"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-539"},
  {"vendor":"Kingston","model":"EMMC64G-M627-229"},
  {"vendor":"Samsung","model":"KLUCG8J1ED-B0A1-518"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-143"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-440"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-824"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-300"},
  {"vendor":"Kingston","model":"EMMC32G-M521-465"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-489"},
  {"vendor":"SK Hynix","model":"H26M64208EMR-387"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-628"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-942"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-643"},
  {"vendor":"Kingston","model":"EMMC64G-M627-483"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-322"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-491"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-811"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-317"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-238"},
  {"vendor":"Kingston","model":"EMMC32G-M332-769"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-290"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-762"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-408"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-138"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-660"},
  {"vendor":"Kingston","model":"EMMC128G-M897-921"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-223"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-846"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-384"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-864"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-945"},
  {"vendor":"Kingston","model":"EMMC64G-M627-287"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-799"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-651"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-654"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-722"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-220"},
  {"vendor":"Kingston","model":"EMMC64G-M495-829"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-379"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-938"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-276"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-342"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-426"},
  {"vendor":"Kingston","model":"EMMC32G-M521-723"},
  {"vendor":"Samsung","model":"KLUCG8J1ED-B0A1-930"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-496"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-360"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-371"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-589"},
  {"vendor":"Kingston","model":"EMMC32G-M521-817"},
  {"vendor":"Samsung","model":"KMGX6001BM-B315-153"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-453"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-289"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-736"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-360"},
  {"vendor":"Kingston","model":"EMMC64G-M495-434"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-695"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-597"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-266"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-298"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-710"},
  {"vendor":"Kingston","model":"EMMC128G-M897-884"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-665"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-254"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-254"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-844"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-586"},
  {"vendor":"Kingston","model":"EMMC32G-M521-443"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-706"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-662"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-204"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-173"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-535"},
  {"vendor":"Kingston","model":"EMMC64G-M495-969"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-185"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-388"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-584"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-373"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-226"},
  {"vendor":"Kingston","model":"EMMC32G-M521-668"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-331"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-530"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-393"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-460"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-930"},
  {"vendor":"Kingston","model":"EMMC32G-M521-265"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-687"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-858"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-522"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-940"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-792"},
  {"vendor":"Kingston","model":"EMMC128G-M897-687"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-340"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-349"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-571"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-179"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-290"},
  {"vendor":"Kingston","model":"EMMC128G-M897-630"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-596"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-699"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-527"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-945"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-781"},
  {"vendor":"Kingston","model":"EMMC64G-M495-674"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-311"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-276"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-923"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-622"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-253"},
  {"vendor":"Kingston","model":"EMMC32G-M521-565"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-883"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-431"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-972"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-422"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-780"},
  {"vendor":"Kingston","model":"EMMC64G-M627-123"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-858"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-950"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-630"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-367"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-143"},
  {"vendor":"Kingston","model":"EMMC64G-M495-131"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-307"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-307"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-895"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-686"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-507"},
  {"vendor":"Kingston","model":"EMMC128G-M897-849"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-296"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-904"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-893"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-209"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-261"},
  {"vendor":"Kingston","model":"EMMC32G-M332-435"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-224"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-546"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-322"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-681"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-686"},
  {"vendor":"Kingston","model":"EMMC32G-M332-959"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-243"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-302"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-658"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-958"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-855"},
  {"vendor":"Kingston","model":"EMMC32G-M332-268"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-480"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-417"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-413"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-351"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-784"},
  {"vendor":"Kingston","model":"EMMC32G-M521-130"},
  {"vendor":"Samsung","model":"KLUCG8J1ED-B0A1-973"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-602"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-410"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-254"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-847"},
  {"vendor":"Kingston","model":"EMMC64G-M627-815"},
  {"vendor":"Samsung","model":"KLUCG8J1ED-B0A1-339"},
  {"vendor":"SK Hynix","model":"H26M64208EMR-700"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-763"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-200"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-520"},
  {"vendor":"Kingston","model":"EMMC32G-M332-911"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-802"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-507"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-171"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-441"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-447"},
  {"vendor":"Kingston","model":"EMMC64G-M495-949"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-336"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-333"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-490"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-833"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-996"},
  {"vendor":"Kingston","model":"EMMC128G-M897-134"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-100"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-889"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-706"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-618"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-560"},
  {"vendor":"Kingston","model":"EMMC64G-M495-110"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-850"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-464"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-874"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-694"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-607"},
  {"vendor":"Kingston","model":"EMMC32G-M521-776"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-648"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-622"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-645"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-647"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-119"},
  {"vendor":"Kingston","model":"EMMC32G-M332-725"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-781"},
  {"vendor":"SK Hynix","model":"H26M64208EMR-786"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-778"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-407"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-946"},
  {"vendor":"Kingston","model":"EMMC32G-M332-747"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-705"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-912"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-824"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-249"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-385"},
  {"vendor":"Kingston","model":"EMMC32G-M521-744"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-675"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-912"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-708"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-216"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-795"},
  {"vendor":"Kingston","model":"EMMC128G-M897-894"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-497"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-995"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-670"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-696"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-183"},
  {"vendor":"Kingston","model":"EMMC32G-M521-776"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-640"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-374"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-726"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-535"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-692"},
  {"vendor":"Kingston","model":"EMMC32G-M332-183"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-393"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-102"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-802"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-563"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-724"},
  {"vendor":"Kingston","model":"EMMC32G-M332-881"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-562"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-687"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-366"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-838"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-823"},
  {"vendor":"Kingston","model":"EMMC64G-M627-381"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-210"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-510"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-654"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-351"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-387"},
  {"vendor":"Kingston","model":"EMMC32G-M521-598"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-756"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-233"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-394"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-801"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-410"},
  {"vendor":"Kingston","model":"EMMC64G-M627-382"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-749"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-165"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-536"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-187"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-831"},
  {"vendor":"Kingston","model":"EMMC64G-M495-620"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-514"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-987"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-686"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-545"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-453"},
  {"vendor":"Kingston","model":"EMMC128G-M897-173"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-107"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-580"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-474"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-959"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-333"},
  {"vendor":"Kingston","model":"EMMC64G-M627-843"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-418"},
  {"vendor":"SK Hynix","model":"H26M64208EMR-241"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-362"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-366"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-269"},
  {"vendor":"Kingston","model":"EMMC32G-M521-996"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-514"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-132"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-575"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-827"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-261"},
  {"vendor":"Kingston","model":"EMMC32G-M332-643"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-941"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-264"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-574"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-258"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-130"},
  {"vendor":"Kingston","model":"EMMC32G-M521-845"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-749"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-919"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-894"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-336"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-336"},
  {"vendor":"Kingston","model":"EMMC64G-M495-324"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-919"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-394"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-755"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-114"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-446"},
  {"vendor":"Kingston","model":"EMMC64G-M495-517"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-289"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-183"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-152"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-870"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-668"},
  {"vendor":"Kingston","model":"EMMC128G-M897-395"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-641"},
  {"vendor":"SK Hynix","model":"H9HKNNN8JDMA-265"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-526"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-179"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-809"},
  {"vendor":"Kingston","model":"EMMC32G-M521-427"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-955"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-386"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-412"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-830"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-139"},
  {"vendor":"Kingston","model":"EMMC32G-M332-323"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-695"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-386"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-153"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-400"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-355"},
  {"vendor":"Kingston","model":"EMMC32G-M521-548"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-712"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-919"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-274"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-818"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-408"},
  {"vendor":"Kingston","model":"EMMC64G-M495-523"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-656"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-357"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-234"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-174"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-252"},
  {"vendor":"Kingston","model":"EMMC64G-M495-111"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-800"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-212"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-136"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-808"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-508"},
  {"vendor":"Kingston","model":"EMMC64G-M627-984"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-580"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-578"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-687"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-387"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-471"},
  {"vendor":"Kingston","model":"EMMC128G-M897-968"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-779"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-776"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-306"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-186"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-243"},
  {"vendor":"Kingston","model":"EMMC64G-M627-859"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-266"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-977"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-764"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-665"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-622"},
  {"vendor":"Kingston","model":"EMMC64G-M627-260"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-864"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-901"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-957"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-314"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-132"},
  {"vendor":"Kingston","model":"EMMC64G-M627-832"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-453"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-424"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-288"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-753"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-602"},
  {"vendor":"Kingston","model":"EMMC64G-M627-314"},
  {"vendor":"Samsung","model":"KMGX6001BM-B315-161"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-760"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-490"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-122"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-179"},
  {"vendor":"Kingston","model":"EMMC128G-M897-205"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-303"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-191"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-380"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-386"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-569"},
  {"vendor":"Kingston","model":"EMMC32G-M521-483"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-626"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-580"},
  {"vendor":"Micron","model":"MT29VZZZAD8DQK-948"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-913"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-477"},
  {"vendor":"Kingston","model":"EMMC64G-M627-719"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-455"},
  {"vendor":"SK Hynix","model":"H9HKNNN8JDMA-707"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-687"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-252"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-163"},
  {"vendor":"Kingston","model":"EMMC32G-M521-690"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-139"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-649"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-416"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-857"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-516"},
  {"vendor":"Kingston","model":"EMMC128G-M897-193"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-740"},
  {"vendor":"SK Hynix","model":"H28U74301AMR-978"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-131"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-716"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-594"},
  {"vendor":"Kingston","model":"EMMC32G-M332-545"},
  {"vendor":"Samsung","model":"KLUFG8J1EA-B0C2-837"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-320"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-515"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-242"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-742"},
  {"vendor":"Kingston","model":"EMMC32G-M521-822"},
  {"vendor":"Samsung","model":"KLUFG4J1EA-B0C1-744"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-835"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-568"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-433"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-279"},
  {"vendor":"Kingston","model":"EMMC64G-M627-974"},
  {"vendor":"Samsung","model":"KLMCG8JENB-B041-258"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-969"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-388"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-140"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-156"},
  {"vendor":"Kingston","model":"EMMC64G-M627-189"},
  {"vendor":"Samsung","model":"KLUCG4J1ED-B0C1-705"},
  {"vendor":"SK Hynix","model":"H9HP52ACPMD-618"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-825"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-394"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-935"},
  {"vendor":"Kingston","model":"EMMC32G-M332-462"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-430"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-183"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-580"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-373"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-542"},
  {"vendor":"Kingston","model":"EMMC64G-M495-548"},
  {"vendor":"Samsung","model":"KLUCG8J1ED-B0A1-289"},
  {"vendor":"SK Hynix","model":"H9HP52ABLDMMCR-494"},
  {"vendor":"Micron","model":"MT29TZZZAD8DKK-134"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-203"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-868"},
  {"vendor":"Kingston","model":"EMMC128G-M897-784"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-489"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-506"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-479"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-488"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-370"},
  {"vendor":"Kingston","model":"EMMC32G-M332-663"},
  {"vendor":"Samsung","model":"KLUDG4UHDC-B0C1-373"},
  {"vendor":"SK Hynix","model":"H9HKNNN8JDMA-303"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-321"},
  {"vendor":"KIOXIA","model":"THGBM5G9L4LBAIR-386"},
  {"vendor":"SanDisk","model":"SDINADF4-64G-306"},
  {"vendor":"Kingston","model":"EMMC32G-M332-975"},
  {"vendor":"Samsung","model":"KLUDG8V1EE-B0C1-725"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-709"},
  {"vendor":"Micron","model":"MT29F64G08CBAAA-972"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-863"},
  {"vendor":"SanDisk","model":"SDINBDA4-64G-607"},
  {"vendor":"Kingston","model":"EMMC32G-M332-758"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-949"},
  {"vendor":"SK Hynix","model":"H9HQ53AECMMDAR-556"},
  {"vendor":"Micron","model":"MT29VZZZBD8DJK-575"},
  {"vendor":"KIOXIA","model":"THGBMFG9T4LBAIR-479"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-634"},
  {"vendor":"Kingston","model":"EMMC128G-M897-347"},
  {"vendor":"Samsung","model":"KMGX6001BM-B315-449"},
  {"vendor":"SK Hynix","model":"H9TQ17ABJTMC-332"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-187"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-310"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-396"},
  {"vendor":"Kingston","model":"EMMC128G-M897-664"},
  {"vendor":"Samsung","model":"KLUEG8UHDC-B0A1-762"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-816"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-782"},
  {"vendor":"KIOXIA","model":"THGBM5T0L8LBAT-870"},
  {"vendor":"SanDisk","model":"SDINBDG4-64G-860"},
  {"vendor":"Kingston","model":"EMMC64G-M495-107"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-425"},
  {"vendor":"SK Hynix","model":"H26M64208EMR-604"},
  {"vendor":"Micron","model":"MT29F128G08CBECBH6-888"},
  {"vendor":"KIOXIA","model":"THGBF7T0L8LBAT-821"},
  {"vendor":"SanDisk","model":"SDINBDG4-32G-261"},
  {"vendor":"Kingston","model":"EMMC32G-M332-659"},
  {"vendor":"Samsung","model":"KLUCG8J1EA-B0C1-353"},
  {"vendor":"SK Hynix","model":"H9TQ64A8GTMCUR-970"},
  {"vendor":"Micron","model":"MT29F64G08CBABA-176"},
  {"vendor":"KIOXIA","model":"THGBMFG8C4LBAIR-561"},
  {"vendor":"SanDisk","model":"SDINADF4-128G-101"},
  {"vendor":"Kingston","model":"EMMC64G-M627-654"},
  {"vendor":"Samsung","model":"KMGX6001BM-B315-514"},
  {"vendor":"SK Hynix","model":"H9HKNNN8JDMA-294"}
]